html {
  height: 100%;
}

body {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  background-color: #232323;
  margin: 0;
  padding-bottom: 6rem;
  color: #f3f2f2;
  font-family: "IBM Plex Serif", serif;
}

#start-screen {
  margin: auto;
  margin-top: 30vh;
  height: 100%;
  text-align: center;
  font-size: 2.5em;
  color: #ed4d45;
}

.greeting-animation {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main-container-animation {
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

hr {
  border: solid 0.01em #8e2525;
}

.social-icon #greeting {
  margin: auto;
  color: #ed4d45;
  font-size: 5em;
}

#animated-hr {
  width: 0.5%;
  border: solid 0.01em #8e2525;
  -webkit-animation: increase 5s;
  -moz-animation: increase 3s;
  -o-animation: increase 3s;
  animation: increase 3s;
  animation-fill-mode: forwards;
}

@keyframes increase {
  100% {
    width: 100%;
  }
}

#p-top {
  margin-top: 1.5em;
  visibility: hidden;
}

#main-container {
  display: none;
}

.nav {
  width: 100%;
  margin: auto;
  background-image: linear-gradient(to right, #232323, #47464680, #232323);
  margin: 2.5em auto;
}

ul {
  position: relative;
}

#nav-bar {
  margin: auto;
  padding: 0.5vw 0;
  width: fit-content;
}

li {
  display: inline;
}

.article-links {
  display: grid;
  column-fill: balance;
  grid-template-columns: 95% 5%;
}

.nav a {
  color: #f3f2f2;
  border: none;
  margin: auto;
  padding: 0.1em 0.5em 0.1em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 800;
}

#nav a:hover {
  cursor: pointer;
  color: #ed4d45;
}

/* nav-bar links separators */

.nav-item:not(:first-child):before {
  border-right: 2px solid #ed4d45;
  content: "";
}

.nav-item:not(:first-child) {
  margin-left: 0.1em;
}

/* nav bar underline animation */

#underbar {
  margin: auto;
  width: 0;
  height: 2px;
  background: rgba(100, 100, 200, 0);
  top: 33px;
  position: absolute;
  -webkit-transition: 0.5s ease;
  border: none;
}

.li {
  -webkit-transition: 0.5s ease;
}

li:hover {
  cursor: pointer;
}

li:nth-of-type(1):hover~#underbar {
  background: rgb(31, 12, 204);
  box-shadow: 0 0 10px rgb(31, 12, 204);
}

li:nth-of-type(2):hover~#underbar {
  background: rgb(124, 9, 231);
  box-shadow: 0 0 10px rgb(124, 9, 231);
}

li:nth-of-type(3):hover~#underbar {
  background: rgba(5, 243, 243, 0.5);
  box-shadow: 0 0 10px rgba(70, 250, 250, 1);
}
li:nth-of-type(4):hover~#underbar {
  background: rgb(50, 211, 10);
  box-shadow: 0 0 10px rgb(50, 211, 10);
}

.fa-github-alt, .fa-envelope-o, .fa-linkedin-square {
  color: #ed4d45;
  -webkit-font-smoothing: none;
  margin: 0.5em 0.3em;
  border: none;
}

.social-icon, .fa, .fa-angle-up {
  color: #ed4d45;
  font-size: 1.8em;
}

.fa:hover, .fa:focus {
  box-shadow: 0px 6.1px 10.1px -2px #ed4d45;
}

.scrollable-link {
  margin: auto;
}

#about-me {
  display: grid;
  margin: 0 auto;
  margin-top: 1.5vw;
}

#about-text {

}

h1 {
  padding: 0.3em;
  text-align: center;
  color: #ff4747;
  font-size: 1.7em;
  font-weight: 200;
  letter-spacing: 0.03em;
}

h2 {
  margin: 2.5em auto;
  padding: 0.3em;
  text-align: center;
  color: #ff4747;
}


h4 {
  margin: 0;
  margin: 0;
  color: #ff4747;
  font-size: 1.5em;
}


#bio-photo {
  box-shadow: 0px 0px 0px 2px #403f3f;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  padding: 0.3vw;
  display: block;
  margin-bottom: 0.8em;
}

#links-table {
  text-align: center;
}

#my-info {
  padding: 2vw;
  max-width: 100%;
  animation: increase 3s;
  animation-fill-mode: forwards;
  box-sizing: border-box;
  word-break: break-word;
  letter-spacing: initial;
}

.main-info h2, .portfolio-box h2, #tools-container h2 {
  font-weight: 200;
  font-size: 25px;
  color: #ed4d45;
  margin-bottom: 3vw;
}

a {
  text-decoration: none;
}

.main-info, .portfolio-box, #tools-container {
  background-color: #272727ff;
  margin: 4em auto;
  padding: 2em;
  text-align: center;
  width: 65%;
  height: 100%;
  border: none;
  box-sizing: border-box;
}

p {
  font-size: 17px;
}

.portfolio-links-container {
  text-align: center;
  margin: 3em 0;
}

.portfolio-link {
  color: #ed4d45;
  margin: 1em auto;
  font-size: 20px;
  padding: 0.2em;
}

.portfolio-pic:hover~.portfolio-link, .portfolio-link:hover {
  transition: 0.4s;
  cursor: pointer;
  color: #a92e2e;
}

.portfolio-link {
  transform: translate(0px, 5px);
}

.portfolio-link {
  transition: all 0.3s ease-out;
  transform: translate(0px, 5px);
}

.title {
  margin: 2em auto;
  text-align: center;
}

.portfolio-img, .portfolio-img-second, .project-video {
  width: 97%;
}

.second-container {
  margin-top: 1em;
}

#project-container {
  display: inline-grid;
  grid-template-columns: 48.5% 48.5%;
  grid-column-gap: 1.5em;
}

.video-container {
  position: relative;
  width: 100%;
}

.main-info:hover,
.portfolio-box:hover {
  filter: brightness(120%);
}

.underline-effect:hover~.focus-border {
  width: 100%;
  transition: 0.4s;
  border-color: green;
  cursor: pointer;
}

#tools-icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  text-align: center;
}

.tools-icon {
  width: 60px;
  height: 60px;
  opacity: 0;
}

.tools-icon-120 {
  width: 100px;
  height: 70px;
  opacity: 0;
}

.tools-animate {
  opacity: 1;
  transition: 0.4s;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to right, #47464680, #232323);
  color: #f3f2f2;
  text-align: center;
  margin-top: 0.5em;
  padding: 1em 0 0.5em 0;
}

/* border decoration for paragrafs */

.bot-right {
  position: relative;
}

.bot-right:before, .bot-right:after {
  background-image: url("https://4.bp.blogspot.com/-lwGB1nVEioc/W7MH3fS6WJI/AAAAAAAAJ4s/HXjR-OOhoskpy02Hwe1ihSD23osfceERgCLcBGAs/s1600/Code%2BWolf.jpg");
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
}

.bot-right:before {
  top: -3px;
  width: 1px;
  background-image: -webkit-gradient( linear, 0 80%, 0 0, from(#ed4d45), to(#232323));
  background-image: -webkit-linear-gradient(transparent, #ed4d45);
  background-image: -moz-linear-gradient(transparent, #ed4d45);
  background-image: -o-linear-gradient(transparent, #ed4d45);
}

.bot-right:after {
  left: -3px;
  height: 1px;
  background-image: -webkit-gradient( linear, 0 0, 100% 0, from(#ed4d45), to(#232323));
  background-image: -webkit-linear-gradient(right, #ed4d45, transparent);
  background-image: -moz-linear-gradient(right, #ed4d45, transparent);
  background-image: -o-linear-gradient(right, #ed4d45, transparent);
}

.bot-left {
  position: relative;
}

.bot-left:before, .bot-left:after {
  background-image: url("https://4.bp.blogspot.com/-lwGB1nVEioc/W7MH3fS6WJI/AAAAAAAAJ4s/HXjR-OOhoskpy02Hwe1ihSD23osfceERgCLcBGAs/s1600/Code%2BWolf.jpg");
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
}

.bot-left:before {
  top: -3px;
  width: 1px;
  background-image: -webkit-gradient( linear, 0 80%, 0 0, from(#ed4d45), to(#232323));
  background-image: -webkit-linear-gradient(transparent, #ed4d45);
  background-image: -moz-linear-gradient(transparent, #ed4d45);
  background-image: -o-linear-gradient(transparent, #ed4d45);
}

.bot-left:after {
  right: -3px;
  height: 1px;
  background-image: -webkit-gradient( linear, 0 0, 100% 0, from(#ed4d45), to(#232323));
  background-image: -webkit-linear-gradient(left, #ed4d45, transparent);
  background-image: -moz-linear-gradient(left, #ed4d45, transparent);
  background-image: -o-linear-gradient(left, #ed4d45, transparent);
}

/* fa icon animation */

.animated:hover {
  border: none;
  cursor: pointer;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.bounce:hover {
  animation-name: bounce;
}

#animated-example {
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  top: 100px;
  left: 100px;
  border-radius: 50%;
}

:focus {
  outline: none;
}

.image-effect-wrapper {
  position: relative;
  transform: translatez(0);
}

.focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #ed4d45;
  transition: 0.4s;
}

/* Media query */

@media only screen and (max-width: 1000px) {
  #greeting {
    font-size: 1em;
  }
  #start-screen {
    margin: auto;
    margin-top: 30vh;
    height: 100%;
    text-align: center;
    font-size: 3em;
    color: #ed4d45;
  }
  #p-top {
    visibility: visible;
    padding: 0.01em;
  }
  #p-bottom {
    margin: 0;
    padding: 0.01em;
  }
  .main-info, .portfolio-box, #tools-container {
    background-color: #272727ff;
    text-align: center;
    width: 800px;
    height: 100%;
    border: none;
    box-sizing: border-box;
    padding: 1.2em;
  }

 
  ul {
    margin: auto;
  }
  #my-info {
    padding: 0;
  }
  #project-container {
    margin: auto;
    display: inline-grid;
    grid-template-columns: auto;
  }
  #nav {
    margin-bottom: 0.5em;
    background-color: black;
    border-bottom: 0.05em solid white;
  }
  #nav, footer {
    width: 100%;
  }
  #nav-bar {
    padding: 0.05em;
    text-align: center;
  }
  .nav-item:not(:first-child):before {
    border-right: 1px solid #ed4d45;
  }
  .article-links {
    text-align: justify;
  }
  .scrollable-link {
    font-size: 1.2em;
  }
  .project-video {
    width: 100%;
  }
  #photo-container {
    padding: 0;
  }
  #my-info {
    border: none;
  }
  footer {
    background-color: #232323;
    color: white;
  }
}

@media only screen and (max-width: 640px) {
  #greeting {
    font-size: 1em;
  }
  #start-screen {
    margin: auto;
    margin-top: 30vh;
    height: 100%;
    text-align: center;
    font-size: 3em;
    color: #ed4d45;
  }
  #p-top {
    visibility: visible;
    padding: 0.01em;
  }
  #p-bottom {
    margin: 0;
    padding: 0.01em;
  }
  .main-info, .portfolio-box, #tools-container {
    background-color: #272727ff;
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    padding: 1.2em;
  }
  #about-me {
    margin: auto;
    display: grid;
    grid-auto-columns: 100%;
    grid-template-columns: auto;
    margin-top: 1.5vw;
  }
  #links-table {
    margin-top: 0.5em;
  }
  ul {
    margin: auto;
  }
  #my-info {
    padding: 0;
  }
  #photo-container {
    padding: 0;
  }
  #project-container {
    margin: auto;
    display: inline-grid;
    grid-template-columns: auto;
  }
  #nav {
    margin-bottom: 0.5em;
    background-color: black;
    border-bottom: 0.05em solid white;
  }
  #nav-bar {
    padding: 0.05em;
    text-align: center;
  }
  #nav, footer {
    width: 100%;
  }
  #nav a {
    margin: auto;
    font-size: 15px;
  }
  .nav-item:not(:first-child):before {
    border-right: 1px solid #ed4d45;
  }
  .article-links {
    text-align: justify;
  }
  .scrollable-link {
    font-size: 1.2em;
  }
  .project-video {
    width: 100%;
  }
  footer {
    background-color: #232323;
    color: white;
  }
}

#fitmeup,
#rss,
#wavme {
  display: grid;
  grid-template-columns: auto;
  text-align: justify;
}

.project-img-container {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 0.5em;
}

.article-links-projects {
  display: grid;
  text-align: end;
  margin-bottom: 2em;
}

#statement {
  text-align: justify;
  font-weight: 200;
}

.tools-hr {
  background: linear-gradient(to right, #232323, #ed4d45, #232323);
  border: 0;
  height: 0.5px;

}